In [7]:
!export PYTHONPATH=/home/renjith/datascience/dsrm/scikit-learn
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")
data_path='../data/'

In [29]:
from sklearn.neighbors import NearestNeighbors
import pandas as pd
import numpy as np

In [14]:
column_names = ['party', 'infants', 'water', 'budget', 'physician', 'salvador',
       'religious', 'satellite', 'aid', 'missile', 'immigration', 'synfuels',
       'education', 'superfund', 'crime', 'duty_free_exports', 'eaa_rsa']

df = pd.read_csv(data_path + 'house-votes-84.csv', names = column_names)

In [15]:
df.shape

(435, 17)

In [21]:
df.head()

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

In [24]:
df[df == '?'] = np.nan

In [25]:
print(df.isnull().sum())

party                  0
infants               12
water                 48
budget                11
physician             11
salvador              15
religious             11
satellite             14
aid                   15
missile               22
immigration            7
synfuels              21
education             31
superfund             25
crime                 17
duty_free_exports     28
eaa_rsa              104
dtype: int64

In [26]:
print("Shape of Original Data Frame : {}".format(df.shape))

Shape of Original Data Frame : (435, 17)

In [27]:
df = df.dropna()

In [28]:
print("Shape of data frame after dropping all NA values : {}".format(df.shape))

Shape of data frame after dropping all NA values : (232, 17)