In [82]:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np

from utils import *
%matplotlib inline

In [67]:
data_path = '/u80/ml101/data/'

In [68]:
column_names = ['party', 'infants', 'water', 'budget', 'physician', 'salvador',
       'religious', 'satellite', 'aid', 'missile', 'immigration', 'synfuels',
       'education', 'superfund', 'crime', 'duty_free_exports', 'eaa_rsa']

# df = pd.read_csv(data_path + 'house-votes-84.csv', names = column_names)
df = pd.read_csv(data_path + 'house-votes-84.csv', header = 'infer')
df.head()

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

In [69]:
df.shape

(435, 17)

In [70]:
df.head()

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

In [24]:
df[df == '?'] = np.nan

In [71]:
print(df.isnull().sum())

party                0
infants              0
water                0
budget               0
physician            0
salvador             0
religious            0
satellite            0
aid                  0
missile              0
immigration          0
synfuels             0
education            0
superfund            0
crime                0
duty_free_exports    0
eaa_rsa              0
dtype: int64

In [72]:
print("Shape of Original Data Frame : {}".format(df.shape))

Shape of Original Data Frame : (435, 17)

In [73]:
df[df == '?'] = np.nan
df[df == 'y'] = 1
df[df == 'n'] = 0
df = df.dropna()

In [74]:
print("Shape of data frame after dropping all NA values : {}".format(df.shape))

Shape of data frame after dropping all NA values : (232, 17)

In [75]:
y = df['party'].values
x = df.drop('party', axis = 1).values

In [76]:
x

array([[0, 1, 1, ..., 1, 1, 1],
       [0, 1, 0, ..., 1, 0, 1],
       [1, 1, 1, ..., 0, 1, 1],
       ...,
       [0, 0, 0, ..., 1, 0, 1],
       [0, 0, 1, ..., 1, 0, 1],
       [0, 0, 1, ..., 0, 0, 1]], dtype=object)

In [77]:
knn = KNeighborsClassifier(n_neighbors=6)

In [78]:
knn.fit(x, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=6, p=2,
           weights='uniform')

In [79]:
pred1 = knn.predict(x)