In [21]:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np

from utils import *
%matplotlib inline

from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=21, stratify=y)

In [4]:
data_path = '/u80/ml101/data/'

In [5]:
column_names = ['party', 'infants', 'water', 'budget', 'physician', 'salvador',
       'religious', 'satellite', 'aid', 'missile', 'immigration', 'synfuels',
       'education', 'superfund', 'crime', 'duty_free_exports', 'eaa_rsa']

# df = pd.read_csv(data_path + 'house-votes-84.csv', names = column_names)
df = pd.read_csv(data_path + 'house-votes-84.csv', header = 'infer')
df.head()

        party infants water budget physician salvador religious satellite aid missile immigration synfuels education superfund crime duty_free_exports eaa_rsa
0  republican       n     y      n         y        y         y         n   n       n           y        ?         y         y     y                 n       y
1  republican       n     y      n         y        y         y         n   n       n           n        n         y         y     y                 n       ?
2    democrat       ?     y      y         ?        y         y         n   n       n           n        y         n         y     y                 n       n
3    democrat       n     y      y         n        ?         y         n   n       n           n        y         n         y     n                 n       y
4    democrat       y     y      y         n        y         y         n   n       n           n        y         ?         y     y                 y       y

In [6]:
df.shape

(435, 17)

In [7]:
df.head()

        party infants water budget physician salvador religious satellite aid missile immigration synfuels education superfund crime duty_free_exports eaa_rsa
0  republican       n     y      n         y        y         y         n   n       n           y        ?         y         y     y                 n       y
1  republican       n     y      n         y        y         y         n   n       n           n        n         y         y     y                 n       ?
2    democrat       ?     y      y         ?        y         y         n   n       n           n        y         n         y     y                 n       n
3    democrat       n     y      y         n        ?         y         n   n       n           n        y         n         y     n                 n       y
4    democrat       y     y      y         n        y         y         n   n       n           n        y         ?         y     y                 y       y

In [8]:
df[df == '?'] = np.nan

In [9]:
print(df.isnull().sum())

party                  0
infants               12
water                 48
budget                11
physician             11
salvador              15
religious             11
satellite             14
aid                   15
missile               22
immigration            7
synfuels              21
education             31
superfund             25
crime                 17
duty_free_exports     28
eaa_rsa              104
dtype: int64

In [10]:
print("Shape of Original Data Frame : {}".format(df.shape))

Shape of Original Data Frame : (435, 17)

In [11]:
df[df == '?'] = np.nan
df[df == 'y'] = 1
df[df == 'n'] = 0
df = df.dropna()

In [12]:
print("Shape of data frame after dropping all NA values : {}".format(df.shape))

Shape of data frame after dropping all NA values : (232, 17)

In [13]:
y = df['party'].values
x = df.drop('party', axis = 1).values

In [14]:
x

array([[0, 1, 1, ..., 1, 1, 1],
       [0, 1, 0, ..., 1, 0, 1],
       [1, 1, 1, ..., 0, 1, 1],
       ...,
       [0, 0, 0, ..., 1, 0, 1],
       [0, 0, 1, ..., 1, 0, 1],
       [0, 0, 1, ..., 0, 0, 1]], dtype=object)

In [15]:
knn = KNeighborsClassifier(n_neighbors=6)

In [16]:
knn.fit(x, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=6, p=2,
           weights='uniform')

In [17]:
pred1 = knn.predict(x)

In [19]:
print(knn.score(x, y))

0.9310344827586207